html{
    height: 100%;
}
body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
main{
    display: flex;
    flex-direction: row;
    color: hsla(0, 0%, 100%, 0.75);
}
.card1{
    background-color: hsl(31, 77%, 52%);
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
}
button{
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}
h1{
    color: hsla(0, 0%, 100%, 0.75);
}
div{
    padding: 30px 30px 30px 30px;
}
button:hover{
    cursor: pointer;
}